body
{
    margin:0px;
    padding:0px;
}
.header {
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5)url(banner.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo {
    width: 11%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 8px 0px 9px -49px;
}
    .logo img {
        width: 49%;
        border: 4px solid #8a898900;
        border-radius: 57px;
    }
    nav{
        display:flex;
        padding:2% 6%;
        justify-content:space-between;
        align-items:center;
    }
    .navlink{
        flex:1;
        text-align:right;
    }
    .navlink ul li{
        list-style:none;
        display:inline-block;
        padding:8px 12px;
        position:relative;
        
    }
        .navlink ul li a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
  .navlink ul li::after{
      content:'';
      width:0%;
      height:2px;
      background:black;
      display:block;
      margin:auto;
      transition:0.7s;
  }
   .navlink ul li:hover::after{
       width:100%;
        }
.textbox {
    width: 100%;
    color: #fbff00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size:41px;

}
    .textbox p {
        margin: 10px 0px 35px;
        font-size: 20px;
        color: #6aeaf7;
    }
.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 9px;
    padding: 10px 31px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border:2px solid red;
    background:red;
    transition:2s;
}
nav .fa{
    display:none;

}
     /*media query for menu*/

@media(max-width:708px){
    .textbox h1{
        font-size:18px;
    }
    
    .navlink ul li{
        display:block; 

    }
    .navlink{
       position:absolute;
   
        background:gray;
        height:100vh;
        width:150px;
        top:0px;
        right:-200px;
        text-align:left;
        z-index:3;
        transition:1s;

    }
    nav .fa{
        display:block;
        color:white;
        margin:10px;
        font-size:22px;
        cursor:pointer;
    }
    .navlink ul{
        padding:30px;
    }
}
         /*end query*/

    /*----course----*/

.course {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 90px;
    
}
    h1{
        font-size:35px;
        font-weight:600;

    }
    p{
        color:brown;
        font-size:14px;
        font-weight:300;
        line-height:22px;
        padding:10px;
    }
    .row{
        margin-top:5%;
        display:flex;
        justify-content:space-between;

    }
    .course-col{
        flex-basis:31%;
        background:#fff3f3;
        border-radius:10px;
        margin-bottom:5%;
        padding:20px 12px;
        box-sizing:border-box;
        transition:0.4s;
    }
    h3{
        text-align:center;
        font-weight:600;
        margin:10px 0px;
    }
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}

@media(max-width:708px){
    .row{
        flex-direction:column;

    }
}
    
      /*--campus---*/

      .cam{
          width:80%;
          margin:auto;
          text-align:center;
          padding-top:40px;
      }
      .cam-col{
          flex-basis:32%;
          border-radius:10px;
          margin-bottom:30px;
          position:relative;
          overflow:hidden;
      }
      .cam-col img{
          width:100%;
          display:block;

      }
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:0.5s;
}
    .layer:hover {
        background: rgb(239 163 163 / 70%);
    }
  .layer h3{
      width:100%;
      font-weight:500;
      font-size:26px;
      bottom:0px;
      left:50%;
      transform:translateX(-50%);
      position:absolute;
      opacity:0;
      transition:0.5s;
      
  }
  .layer:hover h3{
      bottom:49%;
      opacity:1;
  }
   
  /*----facilities------*/
  .faci{
      width:80%;
      margin:auto;
      text-align:center;
      padding-top:100px;

  }
  .fac{
      flex-basis:31%;
      border-radius:10px;
      margin-bottom:5%;
      text-align:left;
  }
  .fac img{
      width:100%;
      border-radius:10px;
      
  }
  .fac h3{
      margin-top:16px;
      margin-bottom:15px;
      text-align:left;
  }
  .test{
      width:80%;
      margin:auto;
      padding-top:100px;
      text-align:center;

  }
  .testi{
      flex-basis:44%;
      border-radius:10px;
      margin-bottom:5%;
      text-align:left;
      background-color:darkkhaki;
      padding:25px;
      cursor:pointer;
      display:flex;
 }
  .testi img{
      height:62px;
      margin-left:5px;
      margin-right:30px;
      border-radius:50%;
  }
  .testi p{
      padding:0;
      color:black;
  }
 .testi h3{
     margin-top:15px;
     text-align:left;
 }
 .testi .fa{
     color:darkred;
 }
 @media(max-width:708px){
    .testi img {
        
        margin-right: 0px;
        border-radius: 15px;
    }
 }


.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(s3.jpg);
    background-position:center;
    background-size:cover;
    border-radius:10px;
    text-align:center;
    padding:100px 0px;

}
.cta h1{
    color:white;
    margin-bottom:40px;
}

/*------------------footer----------------*/

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    position: absolute;
    margin-top: 200px;
    background-color: #eceaea;
}

.footer h4{
    margin-bottom:25px;
    margin-top:20px;
    font-weight:700;
    font-size:27px;
}
.icon .fa{
    margin:0 13px;
    cursor:pointer;
    padding:-1px 0;

}
.fa-heart-o{
    color:red;
}

/*------------------------about us--------------------------------*/


.subheader {
    height: 50vh;
    width: 100%;
    background: rgba(0,0,0,0.5)url(a2.jpg);
   background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
}
.subheader h1{
    margin-top:50px;
}
.row1{
    display:block;
    width:450px;
    float:left;
    margin-left:0px;
}
.about-us {
    width: 80%;
    margin-left: 50px;
    align-content:center;
    padding-top: 50px;
    padding-bottom: 50px;
    height:50vh;
    
}

@media(max-width:700px) {
    .about-us{
        width:65%;
        height:70vh;
    }
    .row1{
        margin-left:0px;
        float:left;
        width:120%;
        margin-bottom:0px;
    }
  /*.img{
     position:relative;
     margin-right:200px;
     margin-top:23px;
     margin-bottom:34px;
    }*/
    .img img {
     display:none;
    }
    

}
    .img {
      
        padding: 30px 2px;
        float:right;
    }

        .img img {
            position: absolute;
            width: 30%;
            top: 500px;
            left: 500px;
        }

    .btn1 {
        display: inline-block;
        text-decoration: none;
        color: black;
        border: 2px solid black;
        border-radius: 9px;
        padding: 10px 31px;
        margin-left: 34px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }

        .btn1:hover {
            border: 2px solid red;
            background: red;
            transition: 2s;
            color: white;
        }



